/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.flash_alert {
   font-size: 1.5em;
   color: #FFFFFF;
   background-color: red;

 }

 .flash_notice {
   font-size: 1.5em;
   color: #FFFFFF;
   background-color: green;
 }

 body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  h1, h2, h3, h4, h5, p {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
    line-height: 1.5;
  }
}

.center {
  text-align: center;
}

.btn {
  margin-top: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  background-color: #f8f8f8;;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

.footer p {
  color: #777777;
}

.text-muted {
  width: auto;
  padding: 0 15px;
}

.navbar-nav {
  float: right;
}

ul {
  list-style: none;
}

.display {
  margin-left: 30px;
  margin-bottom: 50px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
    margin: 5px;
}
